@use "./variables" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    margin:0;
    margin: 0px;
    font-family: $font-body;
}
img{
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: $font-title;
}
input,
button,
textarea,
select {
 font-family: inherit;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}