@use "./variables" as *;

.login-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);

  .login-page-left-column {
    background-size: cover;
    background-position: center;
  }

  .login-page-right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;

    h1{
        text-align: center;
    }
   

    .login-form-wrapper {
        display: grid;
        grid-gap: 21px;
        padding: 42px;
        width: 420px;
        max-width: 90%;
       

        input{
            color: $text;
            padding: 5px 0;
            width: 100%;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            border-bottom: 1px solid $purple;
            background-color: transparent;
            transition: 0.5s all ease-in-out;
            margin-bottom: 21px;

            &:focus {
                outline: none;
                border-bottom: 1px solid $active-link;
            }

            &::placeholder {
            color: $text-muted;
          }

        }

      .form-group {
        display: flex;
        align-items: center;

        svg {
          font-size: 2em;
          color: $purple;
          margin-right: 15px;
        }

        
      }
    }
  }
}