@use "./variables" as *;

.search-books-page-wrapper {
    min-height: calc(100vh - 84px);
    background-color: $background;
    color: $text;
    padding: 42px;

    .search-books-header {
        margin-bottom: 32px;

        h1 {
            margin: 0 0 10px;
            color: $purple-dark;
        }

        p {
            margin: 0;
        }

        strong {
            color: $purple;
        }

        .search-message {
            margin-top: 16px;
            color: $purple;
            font-weight: 600;
        }
    }

    .search-books-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 200px));
        gap: 32px;
        justify-content: center;
    }
   

    @media (max-width: 768px) {
        padding: 28px;

        .search-books-grid {
            grid-template-columns: repeat(auto-fill, minmax(140px, 180px));
            gap: 24px;
        }
    }

    @media (max-width: 480px) {
        padding: 20px;

        .search-books-grid {
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }
    }
}