// Colors

$background: #F4F1E8;

$text: #17141F;
$active-link: #A882F0;
$purple: #aa3bff;
$text-alt: #ede7f7;


$font-title: "Cinzel", serif;
$font-body: "Inter", sans-serif;
/*
$background-dark: #17141F;
$background-alt: #1A1824;

$navbar: #30224A;
$card: #23212D;
$hover: #3F2F66;

$gold: #C9A86A;
$gold-hover: #D7B97E;






$login-panel: #1A1824;

*/