// Colors

$background: #F4F1E8;

$text: #17141F;
$purple-light: #b99bf2;
$purple: #7515bf;
$text-alt: #ede7f7;
$purple-dark: #32035c;


$font-title: "Cinzel", serif;
$font-body: "Inter", sans-serif;

$background-dark: #17141F;
$background-alt: #1A1824;

$navbar: #30224A;

$hover: #3F2F66;

$gold: #C9A86A;
$gold-hover: #fde5a8;

$active-link: #A882F0;




$login-panel: #1A1824;
$background1: #18141F;

$cards: #23212D;

$button: #C9A86A;
$button-hover: #D7B97E;
$text1: #F4F1E8;
